version: "3"
services:
  selenium-hub:
    image: selenium/hub:latest
    container_name: selenium-hub
    ports:
      - "4444:4444"
    networks:
      - selenium-network

  chrome:
    image: selenium/node-chrome:latest
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - NODE_MAX_INSTANCES=5
      - NODE_MAX_SESSION=5
    networks:
      - selenium-network

  firefox:
    image: selenium/node-firefox:latest
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - NODE_MAX_INSTANCES=5
      - NODE_MAX_SESSION=5
    networks:
      - selenium-network

  edge:
    image: selenium/node-edge:latest
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - NODE_MAX_INSTANCES=5
      - NODE_MAX_SESSION=5
    networks:
      - selenium-network

networks:
  selenium-network:
    driver: bridge
