<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Directory</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body class="body-directory">
    <div class="sidebar">
        <img src="../../images/pointpulsehr-logo.png" alt="PulsePointHR Logo" class="logo">
        <ul class="menu">
            <a href="./directory.html" class="menu-item active"><img src="../../images/directory-icon-light.png"
                    alt="Employee Directory Icon" class="menu-icon">Employee Directory</a>
            <a href="./leave-form.html" class="menu-item"><img src="../../images/leave-icon-dark.png"
                    alt="Leave Management Icon" class="menu-icon">Leave Management</a>
            <a href="./expense-form.html" class="menu-item"><img src="../../images/expense-icon-dark.png"
                    alt="Expense Management Icon" class="menu-icon">Expense Management</a>
        </ul>
    </div>
    <div class="content">
        <header>
            <input type="text" placeholder="Search" class="search-bar">
            <div class="profile-pic"></div>
            <div class="profile-info">
                <span class="profile-name">John Tan</span>
                <span class="profile-id">EXXXXXX</span>
            </div>
        </header>
        <div class="employee-grid">
            <!-- Repeat this section for each employee -->
            <a href="./directory-personal.html" class="employee-card">
                <div class="employee-photo"></div>
                <div class="employee-info">
                    <h3>John Tan</h3>
                    <p>johntan@gmail.com</p>
                    <p>Senior Software Manager</p>
                </div>
            </a>
            <a href="./directory-personal.html" class="employee-card">
                <div class="employee-photo"></div>
                <div class="employee-info">
                    <h3>Jon Jom</h3>
                    <p>jj@gmail.com</p>
                    <p>Senior Software Manager</p>
                </div>
            </a>
            <a href="./directory-personal.html" class="employee-card">
                <div class="employee-photo"></div>
                <div class="employee-info">
                    <h3>Employee Name</h3>
                    <p>employee@gmail.com</p>
                    <p>Senior Software Manager</p>
                </div>
            </a>
        </div>
    </div>

    <script src="../../public/scripts/script.js"></script>
</body>

</html>