
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.index-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.login-container {
    text-align: center;
    width: 600px;
}

.logo {
    margin-left: -40px;
    width: 500px;
    margin-bottom: -30px;
}

.login-box {
    background-color: white;
    padding: 80px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#username,
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px 0;
    margin-top: 40px;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}
#username,
input[type="text"]:focus,
input[type="password"]:focus {
    border-bottom: 1px solid #8a4ef9;
}

button {
    margin-top: 70px;
    width: 70%;
    padding: 20px;
    background-color: #8a4ef9;
    border: none;
    border-radius: 35px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6d38c4;
}



/* Layout */
.body-directory {
    display: flex;
    height: 100vh;
}

/* Sidebar */
.body-directory .sidebar {
    width: 220px;
    background-color: #f8f9fb;
    padding: 20px;
    border-right: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 210%;
}

.body-directory .logo {
    margin-left: 0px;
    width:200px;
    margin-bottom: 10px;
}

.body-directory h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 30px;
}

.body-directory .menu {
    margin-top: 20px;
    list-style: none;
    width: 100%;
}

.body-directory .menu-item img{
    width: 25px;
    margin-right: 10px;
}

.body-directory .menu-item {
    padding: 15px;
    padding-right: 10px;
    color: #333;
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 11px;
    font-weight: 550;
    text-decoration: none;
}

.body-directory .menu-item.active {
    background-color: #333;
    color: white;
    border-radius: 5px;
}

.body-directory .menu-item:not(.active):hover {
    background-color: #ddd;
    border-radius: 5px;
}

/* Content */
.body-directory .content {
    flex: 1;
    padding: 20px;
}

.body-directory header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.body-directory .search-bar {
    width: 500px;
    padding: 10px;
    padding-left: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
    margin-left:350px;
}

.body-directory .search-bar :focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
}

.body-directory .profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
    margin-top: 30px;
}

.body-directory .profile-name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.body-directory .profile-id {
    margin-right: auto;
    font-size: 12px;
    color: #777;
}

.body-directory .profile-pic {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 385px;
    margin-top: 30px;
}

/* Main grid container */
.body-directory .employee-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap:70px;
    margin-left: 200px;
    margin-top: 80px;
    margin-right: 200px;
}

.body-directory .employee-card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background-color: #fff;
    gap:-20px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 10px;
    text-decoration: none;
    color: inherit;
}

.body-directory .employee-photo {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 40px;
}

/* Profile Header Section */
.body-directory .profile-details {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

/* Profile Photo Styling */
.body-directory .profile-photo{
    margin-left: 230px;
    margin-top: -30px;
}

.body-directory .profile-photo img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #ddd;
    
}

/* Contact Info Styling */
.body-directory .contact-info {
    margin-left: 850px;
    margin-top: -250px;
    margin-bottom: 200px;
}

.body-directory .contact-info p {
    margin: 8px 0;
    font-size: 1.3em;
    margin-bottom: 40px;
    letter-spacing: 0.1em;
    color: #333;
}

.body-directory .contact-info p strong {
    font-weight: bold;
}

/* Employee info styling */
.body-directory .employee-info h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    
}

.body-directory .employee-info p {
    margin: 5px 0;
    font-size: 0.8em;
    color: #666;
}

.body-directory .about-section {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    line-height: 1.6;
}

.body-directory .about-section h2 {
    letter-spacing: 0.07em;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

.body-directory .about-section p {
    margin: 10px 0;
    font-size: 1em;
}

.body-directory .about-section p strong {
    font-weight: bold;
    color: #333;
}

.body-directory .about-section-table td{
    letter-spacing: 0.022em;
    padding-left: 250px;
    width: 50%;
    font-size: 18px;
}

.body-directory .profile-pic-2 {
    width: 50px;
    height: 50px;
    background-color: #ddd;
    border-radius: 50%;
    margin-left: 1260px;
    margin-top: 30px;
}



.expense-header{
    text-align: center;
    margin-top: -30px;
}
.expense-header h1{
    font-size: 30px;
}

.container-expense{
    display: flex;
    width: 100%;
}

.container-expense .content-2 {
    flex-grow: 1;
    padding: 20px;
    background-color: #fff;
}

.expense-header .tabs {
    display: flex;
    margin: 20px 0;
    margin-left: 560px;
}

.expense-header .tabs span {
    font-size: 12px;
    color: #98999C;
    cursor: pointer;
    font-weight: bold;
    padding-top: 30px;
    margin-top: 70px;
    padding-left: 55px;
    padding-right: 55px;
}

.expense-header .tabs span a{
    text-decoration: none;
    color: #98999C;
}

.expense-header .tabs span:hover {
    font-size: 16px;
    transition: font-size 0.3s ease;
}

.expense-header .tabs span.active {
    font-size: 16px;
}

.form-section{
    z-index:2;
    padding: 50px;
    margin: -20px 325px 325px;
    color: #333333;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-expense .expense-form {
    z-index: 2;
    max-width: 500px;
    margin: 0 auto;
}

.container-expense .expense-form h2 {
    font-size: 23px;
    text-align: center;
    margin-bottom: 60px;
}

.container-expense .form-group {
    gap: 10px;
    margin-bottom: 40px;
}

.container-expense .form-group label {
    display: block;
    margin-bottom: 5px;
}

.container-expense .form-group input,
.container-expense .form-group select {
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border: none;
    height: 50px;
    border-radius: 10px;
}

.container-expense .form-group input:focus,
.container-expense .form-group select:focus,
.container-expense .form-group textarea:focus{
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the outline */
}

.container-expense .form-group textarea{
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border: none;
    height: 100px;
    border-radius: 10px;
}

.container-expense textarea {
    resize: none;
}

.container-expense .buttons {
    margin-top: -50px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}

.container-expense .cancel {
    background-color: #ddd;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container-expense .apply {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container-expense .custom-file-input {
    display: none;
    /* Hide the original file input */
}

.container-expense .custom-file-label {
    display: flex;
    padding: 15px 22px 15px 22px;
    margin-right: 250px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
    border: none;
    color: #666666;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.container-expense .file-name {
    margin-left: 10px;
    /* Space between the label/button and the file name */
    font-size: 14px;
    /* Adjust the font size if needed */
    color: #555;
    /* Color for the file name */
}

.container-expense .upload-img {
    margin-bottom: -5px;
    margin-right: 20px;
    /* Add space between the image and the text */
}

/* Overlay styling */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.overlay-content {
    background: white;
    width: 600px;
    padding-bottom: 50px;
    padding-top: 50px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay .emoji-img{
    margin-bottom: 40px;
}

.overlay h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

.overlay p {
    font-size: 16px;
    color: #666;
}

/* Hidden class to hide overlay */
.hidden {
    display: none;
}


.kanban {
    display: flex;
    justify-content: space-between;
    width: 1400px;
    height: 1300px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    padding: 0px 80px 0px 80px;

}

.column {
    background-color: #FFFAFA;
    border-radius: 12px;
    flex: 1;
    margin: 0 10px;
    padding: 10px;
    width: 300px;
    margin-top: 20px;
}

.column h3 {
    text-align: center;
}

.card {
    background-color: #FFFFFF;
    border-radius: 15px;
    margin: 10px 10px 30px 10px;
    padding: 25px;
    padding-left: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    line-height: 25px;
}